:root {
  --primary-color: #050503;
  --secondary-color: rgb(165, 173, 158);
  --accent1-color: #097934d0;
  --accent2-color: #eb3131;
  --heading-font: 'Roboto', sans-serif;
  --text-font: 'Roboto Condensed', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--text-font);
  color: var(--primary-color);
  background-color: var(--accent1-color);
}

header, main, footer {
  max-width: 840px;
  margin: 0 auto;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
  text-decoration: none;
  justify-content: space-between;
  gap: 2rem;
}

.hero1 {
  position: relative;
}

.hero1 img {
  display: block;
  width: 100%;
  height: auto;
  
}

h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #000;
}

.hero1 article img {
  float: right;
  width: 125px;
}