:root{
    --primary-color: #17301c;
    --secondary-color: #34dbd9;
    --accentic1-color: #f1f4f5;
    --accentic2-color: #e72e2e;
    --heading-font: Roboto;
    --text-font: roboto condensed;
}
header {
    background-color: #17301c;
    color:#e72e2e

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f1f4f5;
}
header, main, footer {
    width:840px;
    margin: 0 auto
}
h1, h2 {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#17301c
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
.socialmedia a {
    text-decoration: none;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accentic1-color);
    color: #fff;
    .hero article img {
        float: right;
        width: 125px;
    }
}